// Specific CSS for your home-page

.container {
  margin-bottom: 30px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 25px;
}

.card a {
  text-decoration: none;
}

